<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>me.Trumbly.Austin.PortfolioApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>PortfolioApp</string>
			</array>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>me.Trumbly.Austin.PortfolioApp.newIssue</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>rectangle.stack.badge.plus</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Issue</string>
			<key>UIApplicationShortcutItemType</key>
			<string>PortfolioApp://newIssue</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
